<div class="container">
  <mat-toolbar>
    <span>Crear Solicitud</span>
  </mat-toolbar>

  <mat-card style="margin-top:10px;">
    <form [formGroup]="form" (ngSubmit)="agregarSolicitud()">
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Titulo</mat-label>
            <input matInput autocomplete="off" formControlName="titulo">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="3">
          <img src="{{dataimage}}" width="300px">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Descripción</mat-label>
            <input matInput autocomplete="off" formControlName="destitulo">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Area Administrativa</mat-label>
            <mat-select formControlName="area">
              <mat-option *ngFor="let item of areas" [value]="item.id">
                {{item.descrip}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <button mat-raised-button style="margin-right: 20px;">Volver</button>
          <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div class="ancho">
            <mat-toolbar class="custom-toolbar">
              <input matInput readonly name="name" formControlName="imagen">
              <span class="example-spacer"></span>
              <button  mat-flat-button color="primary" >...</button>
              <span class="example-spacer"></span>
            </mat-toolbar>
            <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" multiple="multiple" accept="image/*" title=""/>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="ancho" apperance="outline">
            <mat-label>Progreso</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
